.container {
    height: 400px;
    min-width: 35%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 30px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 10px;
    .card {
        height: 100%;
        color: #FFFFFF;
        padding: 30px 25px;
        width: 100%;
        border-radius: 15px;
        position: relative;
        .card-title {
            position: absolute;
            top: 100px;
            left: 50%;
            transform: translate(-50%,-50%);
            font-size: 3rem;
            line-height: 3rem;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            margin-bottom: 30px;
        }
        .card-body {
            position: absolute;
            top: 200px;
            left: 50%;
            transform: translateX(-50%);
            // height: 300px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .linelogin {
                border: none;
                outline: none;
                width: 80%;
                height: 88px;
                padding: 0;
                background-color: #06C755;
                color: #FFFFFF;
                display: flex;
                justify-content: start;
                align-items: center;
                border-radius: 15px;
                cursor: pointer;
                position: relative;
                .linelogo {
                    border-right: 1px rgba(0, 0, 0, .08) solid;
                }
                .linetext {
                    width: 100%;
                    font-size: 1.5rem;
                    padding: 44px 88px;
                }
                &::after {
                    content: '';
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: transparent;
                    border-radius: inherit;
                    transition: background-color .5s ease;
                }
                &:hover {
                    &::after {
                        background-color: rgba(0, 0, 0, .1);
                    }
                }
                &:active {
                    &::after {
                        background-color: rgba(0, 0, 0, .3);
                    }
                }
            }
        }
        .card-footer {
            position: absolute;
            width: 100%;
            bottom: 30px;
            left: 0;
            .gotoback {
                a {
                    text-decoration: none;
                    color: #FFFFFF;
                    position: relative;
                    font-size: 1.3rem;
                    transition: font-size .5s ease;
                    &::after {
                        position: absolute;
                        content: '';
                        width: 100%;
                        height: 3px;
                        border-radius: 3px;
                        transform: scale(0);
                        background-color: #FFFFFF;
                        bottom: -5px;
                        left: 0;
                        transition: transform .5s ease;
                    }
                    &:hover {
                        font-size: 1.5rem;
                        &::after {
                            transform: scale(1);
                            transform-origin: left;
                        }
                    }
                }
            }
        }
    }
}