{% extends 'auth/base.html' %}
{% load sass_tags %}
{% load static %}

{% block title %}登入{% endblock %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% sass_src 'css/auth/login.scss' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-title">Login</div>
        <div class="card-body">
            <button class="linelogin" id="linelogin">
                <div class="linelogo">
                    <img src="{% static '' %}img/line_88.png" alt="...">
                </div>
                <div class="linetext">
                    Log in with LINE
                </div>
            </button>
        </div>
        <div class="card-footer">
            <div class="gotoback">
                <a href="https://oauthdev.faninsights.io">後台登入</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    $(document).ready(function(){
        $("#linelogin").click(function(){
            $.ajax({
                method: 'post',
                url: "{% url 'auth:login' %}",
                data: {'action':'auth'},
                beforeSend: function(xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function(ret) {
                    console.log(ret)
                    $(location).attr('href', ret.result)
                }
            })
        })
    })
</script>
{% endblock %}